<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
</head>
<body>
  <header>
    <div class="image-slider" #slideContainer>
      <img src="assets/images/3.png" alt="Headline 1" class="slide active">
      <img src="assets/images/2.jpg" alt="Headline 2" class="slide">
      <img src="assets/images/1.png" alt="Headline 3" class="slide">
    </div>


    <div class="labelheading">
      <p class="linebeforetext">|</p>
      <div class="text-container" #textContainer>
        <p class="text active">AI meets Icon: Beyonce steps Into the future with Robot Suit!</p>
        <p class="text">Is Tony Stark Alive?! </p>
        <p class="text">How AI can help lawyers like Kim Kardashian</p>
      </div>
    </div>
  </header>
</body>
</html>
