<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
</head>
<body>
  <footer>
    <h1 class="footerheading">Get in touch</h1>
    <p class="footermsg">Subscribe to our newsletter and join our growing community! <br> We share valuable insights,  and helpful tips to keep you informed about the coolest and latest news about tech. </p>
    <input placeholder="Enter your email here" class="emailinput">
    <button class="footerbutton">Subscribe</button>
    <p class="buttommsg" >Build by Nkosinathi Sikhosana</p>
  </footer>
  <script src="script.js"></script>
</body>
</html>
